

body {
  background-color: #f2f2f2;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: grey;
}



p {
    line-height: 28px;
    margin-bottom: 25px;
}

i {
  color: white;
}

.centered {
    text-align: center;
}


a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}







#hlava {
	background: url(../img/mac4.png) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hlava h1 {
	margin-top: 220px;
	color: white;
	font-size: 62px;
	font-weight: 700;
  font-family: arial;
}

#hlava h3 {
	color: white;
	font-size: 27px;
	font-weight: 100;
    font-family: arial;


}

#hlava .logo {

  text-align: center;
	margin-top: 125px;
}



#f {
	background: #1a1a1a;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#f h3 {
	color: white;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
  font-family: Exo;
}

#f i {
	font-size: 30px;
	color: #fff;
    padding: 3px;
}

#f p {
	font-size: 20px;
	color: #f2f2f2;
  font-family: Exo;

}

#f textarea {
  width: 90%;
  height: 90px;
}

#f table {
  margin-bottom: 10px;
  width: 300px;
}

#f input {
  margin-top: 5px;
  margin-bottom: 15px;
}



#f img {
	text-align: center;
}


#h {
	background: #333333;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#h h3 {
	color: white;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
  font-family: Exo, sans-serif;
}

#h i {
	font-size: 30px;
	color: #fff;
  padding: 3px;
}

#h p {
	font-size: 20px;
	color: #f2f2f2;
  font-family: Exo, sans-serif;
}

#h img {
	text-align: center;

}




#p1 {
  text-align: center;
  float: left;
  padding-left: 17%;
  padding-right: 5px;


}

#p2 {
  text-align: center;
float: left;
padding-right: 5px;
}

#p3 {
  text-align: center;
float: left;
padding-right: 5px;
}

.telo {
  padding-left: 18%;
  padding-right: 18%;
  text-align: center;
}

.telo img {
  border-radius: 8px 8px 8px;
  margin-top: 12px;
  margin-right: 9px;

}

.telo1 {
  padding-bottom: 10px;
}

.telo1 img {
  margin-bottom: 2px;
}

/* MENU CONF*/

.menu {
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #1a1a1a;
	overflow: hidden;
position: fixed; /* Set the navbar to fixed position */
width: 100%; /* Full width */
height: 75px;
box-shadow: black 4px 6px 20px;



}

.menu a {
	text-decoration: none;
	color: white;
  text-align: center;
}

.menu a:hover{
	text-decoration: none;
	color: grey;

}

.menu p:hover{
	text-decoration: none;
	color: grey;

}

.menu i {
	font-size: 30px;
	padding-top: 15px;
	padding-left: 34px;
  padding-right: 20px;
	color: white;
}

.menu i:hover {
	font-size: 30px;
	padding-top: 15px;
	padding-left: 34px;
  padding-right: 20px;
	color: grey;
}




.menu p {
	padding-top: 1px;
	font-size: 16px;
  font-family: Exo, sans-serif;
}

.menu img{
	padding-bottom: 0px;
}



.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#padding p, i{
  padding-top: 80px;
}

#padding p {
  font-size: 27px;
}

#padding h3{
  padding-bottom: 40px;
}

.zapati p{
  text-align: center;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  font-family: Exo, sans-serif;
}
.zapati table{
  width: 100%;
  background-color: #333333;
}



.projekty {
	background: #1a1a1a;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.projekty h3 {
	color: white;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
  font-family: arial;
}

.projekty i {
	font-size: 30px;
	color: #fff;
    padding: 3px;
}

.projekty p {
	font-size: 20px;
	color: #f2f2f2;
  font-family: arial;
}

.projekty img {
	text-align: center;
}

.projekty table {
  background-color: #696969;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  width: 45%;
  float: centered;
  border-style: groove;
border-width: 3px;
border-color: white;
border-radius: 10px;
}

.media {
  text-align: right;
  padding-right: 21%;
  padding-bottom: 445px;
  position: fixed;
  width: 100%; /* Full width */
}

.sidebar {
  position: fixed;
   right: 0;
    top: 83%;

}
.sidebar div {
   text-align: center;
    width: 120px; height: 600px;
 }
.sidebar .fixed {
  position: fixed; right: 0; top: 0
}


.sidebar i {
	font-size: 38px;
  text-align: right;
	padding-top: 10px;
	color: white;
}

.sidebar i:hover {
	font-size: 38px;
  text-align: right;
	padding-top: 10px;
	color: grey;
}

.arrow {
  position: fixed;
   right: 0;
    top: 73%;

}
.arrow div {
   text-align: center;
    width: 120px; height: 600px;
 }
.arrow .fixed {
  position: fixed; right: 0; top: 0
}


.arrow i {
	font-size: 38px;
  text-align: right;
	padding-top: 10px;
	color: white;
}

.arrow i:hover {
	font-size: 38px;
  text-align: right;
	padding-top: 10px;
	color: grey;
}




.media p {
	padding-top: 1px;
	font-size: 16px;
}









@media screen and (max-width: 1280px){
  .media {
    text-align: right;
    padding-right: 5%;
    padding-bottom: 5%;
    position: fixed;
    width: 100%; /* Full width */
  }


}



@media screen and (max-width: 768px) {

  #p1 {
    text-align: center;
    float: left;
    padding-left: 19%;
    padding-right: 5px;


  }



  .arrow i {
  	font-size: 0px;
  }

  .arrow i:hover {
  	font-size: 0px;
  }

  .telo {
    padding-left: 2%;
    padding-right: 2%;
  }

  .telo1 img {
    width: 360px;
    height: 240px;
  }

  #p1 {
    text-align: center;
    padding-left: 0px;
    float: inherit;



  }

  #p2 {
    text-align: center;
  float: inherit;

  }

  #p3 {
    text-align: center;
  float: inherit;

  }


  #weby1 {
    text-align: center;
    padding-left: 0px;
    float: inherit;



  }

  #weby2 {
    text-align: center;
  float: inherit;

  }

  #weby3 {
    text-align: center;
  float: inherit;

  }


  .sidebar {
    position: absolute;
     right: 0;
     left: 76%;
      top: 155px;

  }




  .media {
    text-align: right;
    padding-right: 5%;
    padding-bottom: 5%;
    position: fixed;
    width: 100%; /* Full width */
  }

  .menu i {
  	font-size: 28px;
  	padding-top: 15px;
  	padding-left: 25px;
    padding-right: 8px;
  	color: white;
  }

  .menu i:hover {
    font-size: 28px;
  	padding-top: 15px;
  	padding-left: 25px;
    padding-right: 8px;
  	color: grey;
  }

  .menu p {
  	padding-top: 1px;
  	font-size: 14px;
  }

  .menu p:hover{
  	text-decoration: none;
  	color: grey;
    font-size: 14px;
  }
  #hlava .logo {
  	text-align: center;
  	margin-top: 255px;
  }
  #hlava .logo img{
    width: 288px;
    height: 232px;
  }

}
